@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

*{margin: 0; padding: 0; }

.h_font{
font-family: "Noto Serif";
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sec_font{
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;}

.container{
max-width: 1140px;
margin: 0 auto;
}
.primary_color{
color: #E95A08;

}
.secodery_clr{
    color: #8987A1;
}

nav{
    margin: 30px 0 50px 0;
}
.menu_item li{
    list-style: none;
}
.navbar, .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
 display: flex;
gap: 48px;
}
.banner_content{
    max-width :570px;
}
.banner_content p{
    padding-top: 40px;
}
.planet{
    margin-top: 100px;
}

#planet_h{
    font-size: 45px;
    margin-bottom: 16px;
}
.planet_head{
    text-align: center;
    margin-bottom: 50px;
}
.planet_head p{
    max-width: 888px;
    margin: auto;
}

.card{
    height: 450px;
    width: 270px;
    text-align: center;
}
.card img{
    height: 300px;
    width: 100%;
    padding-bottom: 15px;
}
.card h4{
    padding: 15px 0 25px 0 ;
}
.card_btn{
    width: 100%;
padding: 17px 30px;
background: #E95A08;
color: white;
border: none;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:15px;
    row-gap: 30px;
}

.info_container li{
    padding: 20px 0 20px 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin-top: 150px;
}
    .image-container {
      position: relative;
    }

   .image-container img {
        width: 540px;
        height: 597px
        display: block; 
       }

.trust_badge img{
    height: 286px;
    width: 286px;
}
    .badge {
    position: absolute;
    top: -130px;
    right: -110px;
    }
.text-content li{
    padding: 10px 0;
}








@media screen and (max-width:576px)
{
    .container{
padding:0 10px; 
}

.menu_li,.trust_badge{
 display:none;
}
.banner,.info {
flex-direction:column;
}
.banner_content{
order:2;
}
.card_container{
    grid-template-columns: repeat(2, 1fr);
}



}